@import "reset";

$sky-blue: #01b7f0;
$dark-green: #00b234;
$yellow: #fffcd7;
$blue: #c5eefd;
$green: #d9edd5;
$red: #fdded2;

@import "body";
@import "header";
@import "main";
@import "grid";
@import "footer";
