/*body*/
body {
  font-family: "Slabo 13px";
}

/*html*/
html {
  box-sizing: border-box;
  font-size: 80%;
}

/*links*/
a {
  color: #009ee3;
  text-decoration: none;
}

/*list*/
/*title*/
h1 {
  font-size: 33px;
  color: #009ee3;
}
h2 {
  font-size: 20px;
  color: black;
  padding-bottom: 20px;
}
/*section*/
section {
  margin-bottom: 5em;
}
